//colors

$primary:#437281;
$primary-hover:#00688b;
$secondary:#2c002c;
$thirdary:#8b5e3c;
$white: #fff;
$grey: rgb(112, 112, 112);
$black: #000;

$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f0f0f0;
$dark: #343a40;


$dark-background: #2c002c;
$light-background: #f8f9fa;

$btn-1:#ef5285;

//services 
$title: #7C7C7C;
$title-dark: #585858;
$title-dot: #3864A0;
$cust: #faa725;
$sdk: #00a396;
$design: #90218c;
$develop: #8cc63f;
$pub: #aa212b;
$opt: #ffc100;

$cust-bk: #ffca85;
$sdk-bk: #89c9c3;
$design-bk: #c6a7d8;
$develop-bk: #aae0a0;
$pub-bk: #e58f97;
$opt-bk: #f4edab;

//footer 

$header-bg: #01345e;
$footer-bg: #3864A0;