@use "sass:map";
@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

body {
  font-family: "Noto Sans TC", sans-serif;
}

.service {
  @include m.flex-center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/background/service-ex.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  color: v.$white;
  padding-top: 30vh;

  .service-title {
    color: v.$title;
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  .service-dots {
    @include m.flex-center;
    width: 100%;
    height: auto;
    gap: 2.5rem;
    margin: 0.5rem auto;
  }

  .cust { background-color: v.$cust; }
  .sdk { background-color: v.$sdk; }
  .design { background-color: v.$design; }
  .develop { background-color: v.$develop; }
  .pub { background-color: v.$pub; }
  .opt { background-color: v.$opt; }
  
  .service-item.cust { background-color: v.$cust-bk; }
  .service-item.sdk { background-color: v.$sdk-bk; }
  .service-item.design { background-color: v.$design-bk; }
  .service-item.develop { background-color: v.$develop-bk; }
  .service-item.pub { background-color: v.$pub-bk; }
  .service-item.opt { background-color: v.$opt-bk; }
  
  .service-word.cust-word { color: v.$cust; }
  .service-word.sdk-word { color: v.$sdk; }
  .service-word.design-word { color: v.$design; }
  .service-word.develop-word { color: v.$develop; }
  .service-word.pub-word { color: v.$pub; }
  .service-word.opt-word { color: v.$opt; }

  .service-item-details.cust-word { color: v.$cust; }
  .service-item-details.sdk-word { color: v.$sdk; }
  .service-item-details.design-word { color: v.$design; }
  .service-item-details.develop-word { color: v.$develop; }
  .service-item-details.pub-word { color: v.$pub; }
  .service-item-details.opt-word { color: v.$opt; }

  
  .dot {
    width: 22px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  .service-item-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  .service-item {
    @include m.flex-center;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    transition: transform 0.35s ease-in-out;

    // 右方三角形
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 40px;
    //   height: 55px;
    //   background-color: inherit;
    //   clip-path: polygon(100% 50%, 0 0, 0 100%);
    //   right: -35px;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   z-index: 2;
    // }

    // &:last-child::after {
    //   content: none;
    // }

    &:hover .service-item-details {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }

  .service-item-inner {
    @include m.flex-center;
    justify-content: start;
    flex-direction: column;
    width: 160px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: v.$white;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: .5rem;
    padding-top: 1rem;
    z-index: 5;
    transition: transform 0.35s ease-in-out, top 0.35s ease-in-out, left 0.35s ease-in-out, opacity 0.35s ease-in-out;

    .service-item-details {
      padding: 1rem;
      font-size: .5rem;
      font-weight: 500;
      text-align: center;
      opacity: 0;
      margin-top: -.8rem;
      visibility: hidden;
      transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
      color: v.$grey;
    }
  }

  .service-item-icon {
    width: 45px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .service-word {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 0.5rem;
  }
}

@media (max-width: 1024px) {
  .service {
    padding-top: 10rem;
    .service-title {
      margin-bottom: 2rem;
    }
    .service-dots {
      margin-bottom: 1rem;
    }
    .service-item-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      .service-item {
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .service {
    padding-top: 5rem;
    .service-title {
      font-size: 2.2rem;
    }
    .service-dots {
      scale: .8;
      margin-bottom: 0;
    }
    .service-item-container {
      grid-template-columns: repeat(2, 1fr);
      scale: .8;
      margin-top: 0;
    }
  }
}
