@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.footer {
    width: 100%;
    @include m.flex-center;
    background: linear-gradient(to bottom, rgba(90, 123, 189, 0.8) 0%, v.$footer-bg 20%);
    // background-color: v.$footer-bg;
    color: v.$white;
    padding: 6rem 10rem;
    

    .footer-info {
        width: 50%;
        margin-top: 2rem;
        .footer-logo {
            width: 20rem;
            margin-bottom: 1rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .footer-address {
            font-style: normal;
            letter-spacing: 0.1rem;
            white-space: normal;
        }
    }

    .footer-item {
        @include m.flex-center;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        height: 100%;
        
        .footer-item-title {
            margin-bottom: 2rem;
        }

        .footer-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            column-gap: 6rem;

            .footer-link {
                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: v.$white;
                    margin-top: 4px;
                }
                &:hover::after {
                    width: 100%;
                    transition: all 0.35s;
                }
            }
        }
    }
}